/backend/node_modules
/client/node_modules

/client/client/node_modules
/client/admin/node_modules

/backend/.env

/client/client/.env
/client/admin/.env
/client/.env

/backend/.env.local

/client/client/.env.local
/client/admin/.env.local
/client/.env.local